@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500&display=swap');

.createActivityForm {
    font-family: 'Karla', sans-serif;
    background-color: #CAD2C5;
    color: #2f3e46;
}