@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500&display=swap');

.mainLogin {
    font-family: 'Karla', sans-serif;
    background-color: #2F3E46;
    color: #CAD2C5;
}